<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-18</integer>
		<key>G</key>
		<integer>-18</integer>
		<key>O</key>
		<integer>-18</integer>
		<key>Q</key>
		<integer>-19</integer>
		<key>T</key>
		<integer>-69</integer>
		<key>U</key>
		<integer>-34</integer>
		<key>V</key>
		<integer>-55</integer>
		<key>W</key>
		<integer>8</integer>
		<key>Y</key>
		<integer>-85</integer>
		<key>p</key>
		<integer>17</integer>
		<key>quotedblright</key>
		<integer>-68</integer>
		<key>quoteright</key>
		<integer>-67</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-17</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>C</key>
		<integer>-18</integer>
		<key>G</key>
		<integer>-18</integer>
		<key>O</key>
		<integer>-18</integer>
		<key>Q</key>
		<integer>-19</integer>
		<key>T</key>
		<integer>-69</integer>
		<key>U</key>
		<integer>-34</integer>
		<key>V</key>
		<integer>-55</integer>
		<key>W</key>
		<integer>8</integer>
		<key>Y</key>
		<integer>-85</integer>
		<key>quotedblright</key>
		<integer>-68</integer>
		<key>quoteright</key>
		<integer>-67</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-17</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>C</key>
		<integer>-18</integer>
		<key>G</key>
		<integer>-18</integer>
		<key>O</key>
		<integer>-18</integer>
		<key>Q</key>
		<integer>-19</integer>
		<key>T</key>
		<integer>-69</integer>
		<key>U</key>
		<integer>-34</integer>
		<key>V</key>
		<integer>-55</integer>
		<key>W</key>
		<integer>8</integer>
		<key>Y</key>
		<integer>-85</integer>
		<key>quotedblright</key>
		<integer>-68</integer>
		<key>quoteright</key>
		<integer>-67</integer>
		<key>v</key>
		<integer>-17</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>A</key>
		<integer>-17</integer>
		<key>Adieresis</key>
		<integer>-17</integer>
		<key>Aring</key>
		<integer>-17</integer>
		<key>U</key>
		<integer>-26</integer>
		<key>Udieresis</key>
		<integer>-26</integer>
		<key>comma</key>
		<integer>25</integer>
		<key>period</key>
		<integer>16</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>comma</key>
		<integer>25</integer>
		<key>period</key>
		<integer>17</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>A</key>
		<integer>-43</integer>
		<key>Adieresis</key>
		<integer>-43</integer>
		<key>Aring</key>
		<integer>-43</integer>
		<key>V</key>
		<integer>-34</integer>
		<key>W</key>
		<integer>17</integer>
		<key>Y</key>
		<integer>-34</integer>
		<key>comma</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-17</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-94</integer>
		<key>Adieresis</key>
		<integer>-94</integer>
		<key>Aring</key>
		<integer>-94</integer>
		<key>a</key>
		<integer>-26</integer>
		<key>adieresis</key>
		<integer>-26</integer>
		<key>aring</key>
		<integer>-26</integer>
		<key>comma</key>
		<integer>-146</integer>
		<key>e</key>
		<integer>-34</integer>
		<key>l</key>
		<integer>8</integer>
		<key>o</key>
		<integer>-34</integer>
		<key>odieresis</key>
		<integer>-34</integer>
		<key>period</key>
		<integer>-153</integer>
		<key>r</key>
		<integer>-34</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>comma</key>
		<integer>16</integer>
		<key>period</key>
		<integer>10</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>A</key>
		<integer>-26</integer>
		<key>Adieresis</key>
		<integer>-26</integer>
		<key>Aring</key>
		<integer>-26</integer>
		<key>a</key>
		<integer>-17</integer>
		<key>adieresis</key>
		<integer>-17</integer>
		<key>aring</key>
		<integer>-17</integer>
		<key>comma</key>
		<integer>-18</integer>
		<key>e</key>
		<integer>-26</integer>
		<key>o</key>
		<integer>-26</integer>
		<key>odieresis</key>
		<integer>-26</integer>
		<key>period</key>
		<integer>-26</integer>
		<key>u</key>
		<integer>-26</integer>
		<key>udieresis</key>
		<integer>-26</integer>
		<key>y</key>
		<integer>-17</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>C</key>
		<integer>-34</integer>
		<key>G</key>
		<integer>-34</integer>
		<key>O</key>
		<integer>-34</integer>
		<key>Odieresis</key>
		<integer>-34</integer>
		<key>e</key>
		<integer>-34</integer>
		<key>o</key>
		<integer>-34</integer>
		<key>odieresis</key>
		<integer>-34</integer>
		<key>u</key>
		<integer>-26</integer>
		<key>udieresis</key>
		<integer>-26</integer>
		<key>v</key>
		<integer>-17</integer>
		<key>y</key>
		<integer>-17</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>C</key>
		<integer>-17</integer>
		<key>G</key>
		<integer>-17</integer>
		<key>O</key>
		<integer>-17</integer>
		<key>Odieresis</key>
		<integer>-17</integer>
		<key>T</key>
		<integer>-51</integer>
		<key>U</key>
		<integer>-26</integer>
		<key>Udieresis</key>
		<integer>-26</integer>
		<key>V</key>
		<integer>-51</integer>
		<key>W</key>
		<integer>-17</integer>
		<key>Y</key>
		<integer>-77</integer>
		<key>quotedblright</key>
		<integer>-51</integer>
		<key>quoteright</key>
		<integer>-51</integer>
		<key>w</key>
		<integer>-17</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>N</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>Adieresis</key>
		<integer>-10</integer>
		<key>Aring</key>
		<integer>-10</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-34</integer>
		<key>Adieresis</key>
		<integer>-34</integer>
		<key>Aring</key>
		<integer>-34</integer>
		<key>T</key>
		<integer>-26</integer>
		<key>V</key>
		<integer>-43</integer>
		<key>W</key>
		<integer>-17</integer>
		<key>X</key>
		<integer>-52</integer>
		<key>Y</key>
		<integer>-68</integer>
		<key>comma</key>
		<integer>-17</integer>
		<key>period</key>
		<integer>-26</integer>
	</dict>
	<key>Odieresis</key>
	<dict>
		<key>A</key>
		<integer>-34</integer>
		<key>T</key>
		<integer>-26</integer>
		<key>V</key>
		<integer>-43</integer>
		<key>W</key>
		<integer>-17</integer>
		<key>X</key>
		<integer>-52</integer>
		<key>Y</key>
		<integer>-68</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-85</integer>
		<key>Adieresis</key>
		<integer>-85</integer>
		<key>Aring</key>
		<integer>-85</integer>
		<key>a</key>
		<integer>-17</integer>
		<key>aring</key>
		<integer>-17</integer>
		<key>comma</key>
		<integer>-180</integer>
		<key>e</key>
		<integer>-26</integer>
		<key>o</key>
		<integer>-26</integer>
		<key>period</key>
		<integer>-188</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>A</key>
		<integer>17</integer>
		<key>T</key>
		<integer>-18</integer>
		<key>V</key>
		<integer>-43</integer>
		<key>Y</key>
		<integer>-51</integer>
		<key>comma</key>
		<integer>33</integer>
		<key>period</key>
		<integer>17</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>C</key>
		<integer>-18</integer>
		<key>G</key>
		<integer>-18</integer>
		<key>O</key>
		<integer>-17</integer>
		<key>Odieresis</key>
		<integer>-17</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-9</integer>
		<key>U</key>
		<integer>-17</integer>
		<key>Udieresis</key>
		<integer>-17</integer>
		<key>V</key>
		<integer>-17</integer>
		<key>Y</key>
		<integer>-43</integer>
		<key>e</key>
		<integer>-25</integer>
		<key>o</key>
		<integer>-26</integer>
		<key>odieresis</key>
		<integer>-26</integer>
		<key>u</key>
		<integer>-17</integer>
		<key>udieresis</key>
		<integer>-17</integer>
		<key>w</key>
		<integer>17</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-68</integer>
		<key>Adieresis</key>
		<integer>-68</integer>
		<key>Aring</key>
		<integer>-68</integer>
		<key>C</key>
		<integer>-34</integer>
		<key>G</key>
		<integer>-34</integer>
		<key>O</key>
		<integer>-34</integer>
		<key>Odieresis</key>
		<integer>-34</integer>
		<key>Q</key>
		<integer>-34</integer>
		<key>a</key>
		<integer>-51</integer>
		<key>aring</key>
		<integer>-51</integer>
		<key>c</key>
		<integer>-60</integer>
		<key>colon</key>
		<integer>-34</integer>
		<key>comma</key>
		<integer>-146</integer>
		<key>e</key>
		<integer>-60</integer>
		<key>h</key>
		<integer>27</integer>
		<key>hyphen</key>
		<integer>-68</integer>
		<key>l</key>
		<integer>19</integer>
		<key>m</key>
		<integer>-43</integer>
		<key>o</key>
		<integer>-68</integer>
		<key>period</key>
		<integer>-153</integer>
		<key>r</key>
		<integer>-43</integer>
		<key>s</key>
		<integer>-68</integer>
		<key>semicolon</key>
		<integer>-34</integer>
		<key>u</key>
		<integer>-43</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-17</integer>
		<key>z</key>
		<integer>-34</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-34</integer>
		<key>Adieresis</key>
		<integer>-34</integer>
		<key>Aring</key>
		<integer>-34</integer>
		<key>comma</key>
		<integer>-26</integer>
		<key>period</key>
		<integer>-34</integer>
	</dict>
	<key>Udieresis</key>
	<dict>
		<key>A</key>
		<integer>-34</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-57</integer>
		<key>Adieresis</key>
		<integer>-57</integer>
		<key>Aring</key>
		<integer>-57</integer>
		<key>C</key>
		<integer>-34</integer>
		<key>G</key>
		<integer>-34</integer>
		<key>O</key>
		<integer>-34</integer>
		<key>Odieresis</key>
		<integer>-34</integer>
		<key>Q</key>
		<integer>-34</integer>
		<key>a</key>
		<integer>-43</integer>
		<key>aring</key>
		<integer>-43</integer>
		<key>colon</key>
		<integer>-26</integer>
		<key>comma</key>
		<integer>-120</integer>
		<key>e</key>
		<integer>-51</integer>
		<key>hyphen</key>
		<integer>-43</integer>
		<key>i</key>
		<integer>16</integer>
		<key>o</key>
		<integer>-51</integer>
		<key>period</key>
		<integer>-128</integer>
		<key>r</key>
		<integer>-34</integer>
		<key>semicolon</key>
		<integer>-26</integer>
		<key>u</key>
		<integer>-34</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>C</key>
		<integer>-17</integer>
		<key>G</key>
		<integer>-17</integer>
		<key>O</key>
		<integer>-17</integer>
		<key>Odieresis</key>
		<integer>-17</integer>
		<key>a</key>
		<integer>-17</integer>
		<key>aring</key>
		<integer>-17</integer>
		<key>comma</key>
		<integer>-43</integer>
		<key>d</key>
		<integer>-26</integer>
		<key>e</key>
		<integer>-26</integer>
		<key>h</key>
		<integer>33</integer>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>i</key>
		<integer>33</integer>
		<key>o</key>
		<integer>-26</integer>
		<key>period</key>
		<integer>-52</integer>
		<key>u</key>
		<integer>-17</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>C</key>
		<integer>-34</integer>
		<key>G</key>
		<integer>-34</integer>
		<key>O</key>
		<integer>-34</integer>
		<key>Odieresis</key>
		<integer>-34</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>A</key>
		<integer>-94</integer>
		<key>Adieresis</key>
		<integer>-94</integer>
		<key>Aring</key>
		<integer>-94</integer>
		<key>C</key>
		<integer>-60</integer>
		<key>G</key>
		<integer>-60</integer>
		<key>O</key>
		<integer>-60</integer>
		<key>Odieresis</key>
		<integer>-60</integer>
		<key>S</key>
		<integer>-43</integer>
		<key>a</key>
		<integer>-86</integer>
		<key>aring</key>
		<integer>-86</integer>
		<key>colon</key>
		<integer>-60</integer>
		<key>comma</key>
		<integer>-162</integer>
		<key>d</key>
		<integer>-94</integer>
		<key>e</key>
		<integer>-94</integer>
		<key>hyphen</key>
		<integer>-86</integer>
		<key>o</key>
		<integer>-85</integer>
		<key>p</key>
		<integer>-51</integer>
		<key>period</key>
		<integer>-170</integer>
		<key>q</key>
		<integer>-85</integer>
		<key>semicolon</key>
		<integer>-60</integer>
		<key>u</key>
		<integer>-60</integer>
		<key>v</key>
		<integer>-26</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>b</key>
		<integer>10</integer>
		<key>g</key>
		<integer>16</integer>
		<key>p</key>
		<integer>10</integer>
		<key>t</key>
		<integer>-17</integer>
		<key>v</key>
		<integer>-17</integer>
	</dict>
	<key>adieresis</key>
	<dict>
		<key>v</key>
		<integer>-17</integer>
	</dict>
	<key>aring</key>
	<dict>
		<key>v</key>
		<integer>-17</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>b</key>
		<integer>10</integer>
		<key>v</key>
		<integer>-26</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>h</key>
		<integer>-17</integer>
		<key>k</key>
		<integer>-17</integer>
		<key>l</key>
		<integer>-26</integer>
		<key>y</key>
		<integer>-17</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>d</key>
		<integer>10</integer>
		<key>w</key>
		<integer>10</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>b</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>25</integer>
		<key>v</key>
		<integer>-26</integer>
		<key>x</key>
		<integer>-26</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-52</integer>
		<key>e</key>
		<integer>-17</integer>
		<key>exclam</key>
		<integer>83</integer>
		<key>f</key>
		<integer>25</integer>
		<key>k</key>
		<integer>10</integer>
		<key>o</key>
		<integer>-17</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>question</key>
		<integer>83</integer>
		<key>quotedblright</key>
		<integer>83</integer>
		<key>quoteright</key>
		<integer>83</integer>
		<key>space</key>
		<integer>58</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>g</key>
		<integer>10</integer>
		<key>l</key>
		<integer>10</integer>
		<key>r</key>
		<integer>18</integer>
		<key>y</key>
		<integer>17</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>e</key>
		<integer>-34</integer>
		<key>o</key>
		<integer>-34</integer>
		<key>odieresis</key>
		<integer>-34</integer>
		<key>y</key>
		<integer>17</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>y</key>
		<integer>17</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>quoteright</key>
		<integer>-17</integer>
		<key>v</key>
		<integer>-27</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>comma</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-17</integer>
		<key>v</key>
		<integer>-34</integer>
		<key>w</key>
		<integer>-18</integer>
		<key>x</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-17</integer>
		<key>z</key>
		<integer>17</integer>
	</dict>
	<key>odieresis</key>
	<dict>
		<key>v</key>
		<integer>-34</integer>
		<key>w</key>
		<integer>-18</integer>
		<key>x</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-17</integer>
		<key>z</key>
		<integer>17</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>comma</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-17</integer>
		<key>w</key>
		<integer>-26</integer>
		<key>y</key>
		<integer>-17</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>A</key>
		<integer>-68</integer>
		<key>Adieresis</key>
		<integer>-68</integer>
		<key>Aring</key>
		<integer>-68</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>Adieresis</key>
		<integer>-60</integer>
		<key>Aring</key>
		<integer>-60</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>d</key>
		<integer>-17</integer>
		<key>l</key>
		<integer>17</integer>
		<key>r</key>
		<integer>10</integer>
		<key>s</key>
		<integer>-26</integer>
		<key>v</key>
		<integer>17</integer>
	</dict>
	<key>quotesinglbase</key>
	<dict>
		<key>quotesinglbase</key>
		<integer>-57</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>17</integer>
		<key>adieresis</key>
		<integer>17</integer>
		<key>aring</key>
		<integer>17</integer>
		<key>c</key>
		<integer>17</integer>
		<key>colon</key>
		<integer>42</integer>
		<key>comma</key>
		<integer>-68</integer>
		<key>d</key>
		<integer>25</integer>
		<key>e</key>
		<integer>16</integer>
		<key>g</key>
		<integer>25</integer>
		<key>j</key>
		<integer>42</integer>
		<key>k</key>
		<integer>33</integer>
		<key>l</key>
		<integer>33</integer>
		<key>m</key>
		<integer>50</integer>
		<key>n</key>
		<integer>50</integer>
		<key>o</key>
		<integer>16</integer>
		<key>odieresis</key>
		<integer>16</integer>
		<key>p</key>
		<integer>42</integer>
		<key>period</key>
		<integer>-77</integer>
		<key>q</key>
		<integer>25</integer>
		<key>r</key>
		<integer>42</integer>
		<key>s</key>
		<integer>25</integer>
		<key>semicolon</key>
		<integer>42</integer>
		<key>t</key>
		<integer>50</integer>
		<key>u</key>
		<integer>33</integer>
		<key>udieresis</key>
		<integer>33</integer>
		<key>v</key>
		<integer>58</integer>
		<key>y</key>
		<integer>58</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>w</key>
		<integer>-26</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>c</key>
		<integer>-26</integer>
		<key>comma</key>
		<integer>-85</integer>
		<key>d</key>
		<integer>-17</integer>
		<key>e</key>
		<integer>-26</integer>
		<key>o</key>
		<integer>-26</integer>
		<key>odieresis</key>
		<integer>-26</integer>
		<key>period</key>
		<integer>-93</integer>
		<key>q</key>
		<integer>-25</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-11</integer>
		<key>adieresis</key>
		<integer>-11</integer>
		<key>aring</key>
		<integer>-11</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>comma</key>
		<integer>-77</integer>
		<key>d</key>
		<integer>-11</integer>
		<key>e</key>
		<integer>-11</integer>
		<key>h</key>
		<integer>17</integer>
		<key>o</key>
		<integer>-17</integer>
		<key>odieresis</key>
		<integer>-17</integer>
		<key>period</key>
		<integer>-85</integer>
		<key>q</key>
		<integer>-17</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>c</key>
		<integer>-17</integer>
		<key>d</key>
		<integer>-17</integer>
		<key>e</key>
		<integer>-17</integer>
		<key>o</key>
		<integer>-17</integer>
		<key>odieresis</key>
		<integer>-17</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>a</key>
		<integer>-17</integer>
		<key>adieresis</key>
		<integer>-17</integer>
		<key>aring</key>
		<integer>-17</integer>
		<key>c</key>
		<integer>-17</integer>
		<key>comma</key>
		<integer>-85</integer>
		<key>d</key>
		<integer>-17</integer>
		<key>e</key>
		<integer>-17</integer>
		<key>o</key>
		<integer>-17</integer>
		<key>odieresis</key>
		<integer>-17</integer>
		<key>period</key>
		<integer>-94</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>odieresis</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
